*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100vh;
    background-color: rgb(188,229,103);
}

header{
    height: 70vh;
    max-width: 100%;
    background-color: pink;
    background-image: url("img/ehrensvardska.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.wave{
    width: 100%;
    bottom: 0;
}

#title{
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}

.icon-hamburger-start{
    height: 40px;
    margin: 5px;
}

.icon-hamburger-start:hover{
    background-color: aqua;
}

.title-sec{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
}

main{
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    gap: 50px;
    width: auto;
    height: 700px;
}

#news-section{
    display: flex;
    flex-direction: column;
}

#info{
    margin-left: 30px;
    margin-right: 30px;
}

#calendar-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section-title{
    text-align: center;
    height: 1ch;
    width: 100%;
    margin-bottom: 40px;
}

#kalender-iframe{
    align-self:center;
    justify-self: center;
}